@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,401;1,401&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 401;
  font-style: normal;
}
.App {
  background-color: #242424;
  min-height: 100vh;
}
