.todo-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-main .todo-content {
  width: 600px;
}
.todo-main .input-main {
  padding: 50px 0px;
}
.todo-main .input-main .input-flex {
  width: 100%;
  display: flex;
}
.todo-main .input-main .input-flex input[type=text] {
  width: 70%;
  border-right: 0;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px 20px;
}
.todo-main .input-main .input-flex input[type=submit] {
  width: 30%;
  cursor: pointer;
  border-left: 0;
}
.todo-main .input-main .input-flex input {
  outline: none;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.todo-main .input-main .select-flex {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  align-items: center;
  gap: 40px;
}
.todo-main .input-main .select-flex select {
  height: 30px;
}
.todo-main .input-main select {
  width: 20%;
  color: black;
}
.todo-main .todo-list .todo-el {
  width: 100%;
  border: 1px solid black;
  padding: 20px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
  overflow-y: auto;
  margin-bottom: 20px;
  align-items: center;
}
.todo-main .todo-list .todo-el::-webkit-scrollbar {
  display: none;
}
.todo-main .todo-list .todo-el .is_completed {
  position: absolute;
  top: -10px;
}
.todo-main .todo-list .todo-el svg.delete {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.todo-main .todo-list .todo-el svg.delete:hover {
  color: red;
}
.todo-main .todo-list .todo-el svg.edit {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.todo-main .todo-list .todo-el svg.edit:hover {
  color: rgb(192, 191, 191);
}
.todo-main .todo-list .todo-el p {
  width: 80%;
  text-align: center;
  word-break: break-all;
}

.edit-bg {
  background-color: rgba(0, 0, 0, 0.782);
  position: fixed;
  inset: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}
.edit-bg.active {
  opacity: 1;
  visibility: visible;
}
.edit-bg .edit-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
}
.edit-bg .edit-box svg {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 20px;
}
.edit-bg .edit-box svg:hover {
  color: red;
}
.edit-bg .edit-box h2 {
  text-align: center;
  padding: 20px 0px;
}
.edit-bg .edit-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-bg .edit-box form input[type=text] {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 10px;
  outline: none;
}
.edit-bg .edit-box form input[type=submit] {
  height: 50px;
  border-radius: 10px;
  padding: 0px 10px;
  border: 0;
  background-color: gray;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}
.edit-bg .edit-box form .select-flex-edit {
  display: flex;
  align-items: center;
  gap: 20px;
}
.edit-bg .edit-box form .select-flex-edit select {
  padding: 10px;
  outline: none;
}/*# sourceMappingURL=App.css.map */