.todo-main {
  padding: 50px 0px;
  a {
    text-decoration: none;
  }
  button {
    display: block;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: auto;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    &:hover,
    &:focus {
      background-color: #fb8332;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    &:hover {
      transform: translateY(-1px);
    }
    &:active {
      background-color: #c85000;
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      transform: translateY(0);
    }
  }
  .list {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .task {
      width: 600px;
      background-color: white;
      padding: 40px;
      border-radius: 10px;
      position: relative;
      overflow: scroll;
      height: 220px;
      &::-webkit-scrollbar {
        width: 0px;
      }

      .complete-status {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
      }
      .delete {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 2px 6px;
        cursor: pointer;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid transparent;
        transition: 0.3s;
        background-color: #fff;
        border: 1px solid red;
        color: red;
        text-align: center;
        &:hover {
          background-color: red;
          color: #fff;
        }
      }
      .edit {
        position: absolute;
        top: 10px;
        right: 140px;
        font-size: 20px;
        color: gray;
        transition: 0.1s;
        &:hover {
          font-size: 22px;
        }
      }
      .date {
        position: absolute;
        left: 9px;
        top: 10px;
      }

      .user-name {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
        padding: 15px 0px;
      }
      .title {
        text-align: center;
        padding: 20px 0px;
        word-break: break-all;
      }
    }
  }
}
